
.DS_Store
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
build

# web
node_modules
package-lock.json
yarn.lock
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env.local
.env.*.local

# mobile
.dart_tool
pubspec.lock
.flutter-plugins-dependencies
.flutter-plugins
.packages

# server 
.dart_tool
pubspec.lock

# dev 
.development
.temp

# dist output




