.page-header {
  width: 100vw;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 2px 2px 2px var(--shadow-color);
  padding: 0 12px 0 20px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: #fff;
  &-left {
    display: flex;
    align-content: center;
    &-logo {
      display: flex;
      align-items: center;
      height: 30px;
      box-sizing: border-box;
      cursor: pointer;
      img {
        width: 30px;
        height: 30px;
      }
      .title {
        margin-left: 12px;
        font-size: 16px;
        color: #1890ff;
        font-weight: 500;
      }
    }
  }
  &-right {
    display: flex;
    align-content: center;
  }
}
